@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Montserrat.woff2) format("woff2");
  }
} */

body {
  font-family: "Montserrat";
}
